@{
    ViewData["Title"] = "Home  Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}

<div>
    @ViewBag.email
    <marquee class="text-center" behavior="scroll" direction="up" scrollamount="3">
        <h2> WELCOME ADELEKE UNIVERSITY HOSTEL MANAGEMENT APPLICATION </h2>
    </marquee>
    

</div>
<br />
<br />
<br />
<br />
<div>
    <table>
        <tr>           
                <td><a style="background-color:blue;" href="~/Entry/Index"><img src="~/images/form.png" width="500PX" height="450px" class="ts-avatar hidden-side" alt="" style="font-weight:bolder;"></a> </td>
            
          
                <td> <a style="background-color:blue;" href="~/Exit/Index"><img src="~/images/relocate.png" width="500PX" height="450px" class="ts-avatar hidden-side" alt="" style="font-weight:bolder;"></a> </td>
          
            
                <td align="center"><a style="background-color:blue;" href="~/Absent/Index"><img src="~/images/absent.png" width="500PX" height="450px" class="ts-avatar hidden-side" alt="" style="font-weight:bolder;"></a> </td>
                           
            
        </tr>
        <tr>
          
                <td align="center" style="font-size:50px; color:blue;"> ENTRY FORM  </td>
          
                <td align="center" style="font-size:50px; color:forestgreen;"> EXIT FORM </td>
           
                <td align="center" style="font-size:50px; color:skyblue;">ABSENT WITH PERMISSION </td>
           
           </tr>
        &nbsp;
        &nbsp;
        &nbsp;
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</div>
<br />
<br />
<br />
<div>

</div>
<div>

</div>
<div>

</div>