
@model HostelApplication.Models.Student;
@{
    ViewData["Title"] = "Student Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<br />
<br />
<br />
<br />
<hr />
<br />s
<div class="text-left">
    <h1 class="text-info">Add New Student</h1>
</div>
<br />
<hr />

<hr />
<div class="row ml-4 mt-3">
    <div class="col-md-6">
        @using (@Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="MatricNumber" id="MatricNumber-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="MatricNumber" name="MatricNumber" id="MatricNumber" type="text" required placeholder="enter your MatricNumber" class="form-control" />
                    <span asp-validation-for="MatricNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="LastName" id="LastName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="LastName" name="LastName" id="LastName" type="text" required placeholder="enter your LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="FirstName" id="FirstName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="FirstName" name="FirstName" id="FirstName" type="text" required placeholder="enter your FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="OtherName" id="OtherName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="OtherName" name="OtherName" id="OtherName" type="text" required placeholder="enter your OtherName" class="form-control" />
                    <span asp-validation-for="OtherName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="PhoneNo" id="PhoneNo-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="PhoneNo" name="PhoneNo" id="PhoneNo" type="text" required placeholder="enter your PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="EmailAddress" id="EmailAddress-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="EmailAddress" name="EmailAddress" id="EmailAddress" type="text" required placeholder="enter your EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="SessionofAdmission" id="SessionofAdmission-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="SessionofAdmission" name="SessionofAdmission" id="SessionofAdmission" type="text" required placeholder="enter your SessionofAdmission" class="form-control" />
                    <span asp-validation-for="SessionofAdmission" class="text-danger"></span>
                </div>
            </div>
            

            <div class="form-group row">

                <div class="col-3 offset-3">
                    <input type="submit" value="Submit" class="btn btn-lg btn-block btn-info w-100" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-lg btn-block btn-info w-100"><i class="fas fa-sign-out-alt"></i>&nbspBack to List</a>

                </div>
            </div>

        }

        <script type="text/javascript">
@if (TempData["status"] != null)
{
    <text>alert('User Created Successfully'); </text>
}

        </script>

      






