@*@model HostelApplication.Models.Student;
@{
    ViewData["Title"] = "Student Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<<div class="col-6">
    <h2 class="text-info">Delete Student</h2>
</div>
<hr />
<div class="row ml-4 mt-3">
    <div class="col-md-4">
        @using (@Html.BeginForm("Delete", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.StudentId)
             <div class="form-group row">
                <label style="font-size:35px" asp-for="MatricNumber" id="MatricNumber-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="MatricNumber" name="MatricNumber" id="MatricNumber" type="text" required placeholder="enter your MatricNumber" class="form-control" />
                    <span asp-validation-for="MatricNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="LastName" id="LastName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="LastName" name="LastName" id="LastName" type="text" required placeholder="enter your LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="FirstName" id="FirstName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="FirstName" name="FirstName" id="FirstName" type="text" required placeholder="enter your FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="OtherName" id="OtherName-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="OtherName" name="OtherName" id="OtherName" type="text" required placeholder="enter your OtherName" class="form-control" />
                    <span asp-validation-for="OtherName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="Faculty" id="Faculty-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="Faculty" name="Faculty" id="Faculty" type="text" required placeholder="enter your Faculty" class="form-control" />
                    <span asp-validation-for="Faculty" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="Department" id="Department-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="Department" name="Department" id="Department" type="text" required placeholder="enter your Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="Course" id="Course-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="Course" name="Course" id="Course" type="text" required placeholder="enter your Course" class="form-control" />
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="StudentLevel" id="StudentLevel-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="StudentLevel" name="StudentLevel" id="StudentLevel" type="text" required placeholder="enter your StudentLevel" class="form-control" />
                    <span asp-validation-for="StudentLevel" class="text-danger"></span>
                </div>
            </div>
               <div class="form-group row">
                <label style="font-size:35px" asp-for="PhoneNo" id="PhoneNo-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="PhoneNo" name="PhoneNo" id="PhoneNo" type="text" required placeholder="enter your PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="EmailAddress" id="EmailAddress-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="EmailAddress" name="EmailAddress" id="EmailAddress" type="text" required placeholder="enter your EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
               <div class="form-group row">
                <label style="font-size:35px" asp-for="SessionofAdmission" id="SessionofAdmission-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="SessionofAdmission" name="SessionofAdmission" id="SessionofAdmission" type="text" required placeholder="enter your SessionofAdmission" class="form-control" />
                    <span asp-validation-for="SessionofAdmission" class="text-danger"></span>
                </div>
            </div>
            



            <div class="form-group row">
                <label style="font-size:35px" asp-for="Created" id="Created-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="Created" name="Created" id="Created" type="text" required placeholder="enter your Created" class="form-control" />
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-size:35px" asp-for="Updated" id="Updated-Label" class="control-label col-sm-3"></label><br />
                <div class="col-sm-9">
                    <input class="form-control inputstl" style="width: 450px; font-size: 35px; height:65px;" asp-for="Updated" name="Updated" id="Updated" type="text" required placeholder="enter your Updated" class="form-control" />
                    <span asp-validation-for="Updated" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-3 offset-3">
                    <input type="submit" value="Delete" class="btn btn-lg btn-block btn-success w-100" onclick="if(!confirm('Are you sure u want to delete the Record')) return No" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-lg btn-block btn-info w-100">Back to List</a>

                </div>
            </div>
        }*@


