
@model StaffAttendanceApps.Models.Role;
@{
    ViewData["Title"] = "Role Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<br />
<br />
<br />
<div class="text-left">
    <h1 class="text-info">Add New Role</h1>
</div>
<br />
<hr />
<div class="row ml-4 mt-3">
    <div class="col-md-6">
        @using (@Html.BeginForm("Create", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label @*asp-for="ScheduleName"*@ style="font-size:35px" class="control-label col-sm-3">RoleName</label>
                <div class="col-sm-9">

                    <input class="form-control inputstl" style="width: 450px; font-size: 25px; height:50px;" asp-for="RoleName" name="RoleName" id="RoleName" type="text" required placeholder="enter your RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-3 offset-3">
                    <input type="submit" value="Submit" class="btn btn-lg btn-block btn-info w-100" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-lg btn-block btn-info w-100"><i class="fas fa-sign-out-alt"></i>&nbspBack to List</a>

                </div>
            </div>

        }

        <script type="text/javascript">
@if (TempData["status"] != null)
{
    <text>alert('Role Created Successfully'); </text>
}

        </script>

        @section Scripts{
            @{ <partial name="_ValidationScriptsPartial" />}
        }








